---
import Button from "../base/Button.astro";

interface ModalProps {
  ButtonText?: string;
  title?: string;
  lostPasswordUrl?: string;
  registerUrl?: string;
}

const {
  ButtonText = "Abrir Modal",
  title,
  lostPasswordUrl,
  registerUrl,
}: ModalProps = Astro.props;
---

<style>
  .modal-open main {
    pointer-events: none;
    backdrop-filter: blur(10px);
  }

  .modal.open {
    visibility: visible;
    opacity: 1;
  }
</style>

<label
  for="modalId"
  class="toggle flex items-center gap-2 px-6 py-2 text-lg font-medium rounded-lg hover:-translate-y-1 transition-all cursor-pointer bg-light-blue text-dark-blue hover:shadow-lg hover:shadow-light-blue/30"
>
  {ButtonText}
  <input type="checkbox" id="modalId" hidden />
</label>

<article
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-special rounded-xl p-8 border-1 border-white/10 w-full max-w-lg invisible opacity-0 modal transition-all"
>
  <div class="flex flex-col gap-6">
    <header
      class="flex items-center justify-between gap-2 border-b border-white/10 pb-4 w-full"
    >
      <h2 class="text-2xl font-bold">{title}</h2>
      <label
        class="toggle p-2 rounded-xl hover:bg-gray-800/50 hover:text-red-500 transition cursor-pointer"
        for="modalId"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x-icon lucide-x"
          ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
        >
      </label>
    </header>
    <form class="flex flex-col gap-4">
      <label class="flex flex-col gap-2" for="email">
        <span>Tu Correo Electronico</span>
        <input
          class="py-3 px-4 rounded-xl border-1 border-white/10 bg-slate-800/50 outline-none focus:border-white/20 transition-all"
          type="email"
          id="email"
          placeholder="tucorreo@gmail.com"
        />
      </label>
      <label class="flex flex-col gap-2" for="password">
        <span>Tu Contraseña</span>
        <input
          class="py-3 px-4 rounded-xl border-1 border-white/10 bg-slate-800/50 outline-none focus:border-white/20 transition-all placeholder:text-3xl"
          type="password"
          id="password"
          placeholder="••••••"
        />
      </label>
      <div class="flex justify-between items-center w-full">
        <label for="rememberMe" class="flex items-center gap-2">
          <input
            type="checkbox"
            id="rememberMe"
            class="size-4 rounded-lg checked:bg-light-blue"
          />
          Recordarme
        </label>
        <a href={lostPasswordUrl} class="text-light-blue underline"
          >Olvidaste tu contraseña?</a
        >
      </div>
    </form>
    <hr class="w-full border-gray-800" />
    <footer class="flex flex-col gap-4 w-full">
      <Button
        type="fill"
        label="Iniciar Sesión"
        className="w-full justify-center"
      />
      <span>
        No tienes una cuenta?
        <a href={registerUrl} class="text-light-blue underline">Registrarse</a>
      </span>
    </footer>
  </div>
</article>

<script is:inline>
  const checkbox = document.getElementById("modalId");
  const modal = document.getElementsByClassName("modal")[0];

  checkbox.addEventListener("change", () => {
    if (checkbox.checked) {
      modal.classList.add("open");
      document.body.classList.add("modal-open");
    } else {
      modal.classList.remove("open");
      document.body.classList.remove("modal-open");
    }
  });
</script>
