---
const { label, href } = Astro.props;
---

<li>
  <a
    class={`xl:text-xl font-medium hover:text-light-blue hover:-translate-y-1 hover:scale-110 transition-all inline-block`}
    href={href}>{label}</a
  >
</li>
