---
import { SIDE_SECTIONS } from "@/lib/constants";
---

<aside class="fixed border-r-2 border-white/20 w-64 h-full py-8">
  <nav>
    <ul class="flex flex-col gap-12">
      {
        SIDE_SECTIONS.map(({ label, sections }) => (
          <li class="flex flex-col gap-4">
            <h2 class="text-xl font-semibold">{label}</h2>
            <ul class="flex flex-col gap-4 ml-4">
              {sections.map(({ label, href }) => (
                <li>
                  <a
                    href={href}
                    class="hover:text-light-blue transition-colors"
                  >
                    {label}
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
