---
import { NAV_ITEMS } from "@/lib/constants";
import NavItem from "../ui/NavItem.astro";
---

<header class="fixed top-0 left-0 right-0 z-50 backdrop-blur-2xl bg-black-variant/50 py-4 border-b-1 border-white/10">
  <div class="flex items-center justify-between w-full max-w-7xl mx-auto">
    <picture class="w-42">
      <img src="/logo-visura.svg" alt="Logo de Visura UI" />
    </picture>
    <nav class="flex items-center justify-center flex-grow basis-0">
      <ul class="flex items-center gap-12">
        {NAV_ITEMS.map((item, index) => (
          <NavItem {...item} active={index === 0} />
        ))}
      </ul>
    </nav>
    <button>
      <a class="text-xl font-medium border-1 border-gray-600 px-5 py-3 rounded-lg hover:bg-accent hover:text-dark-blue transition-all" href="#">GitHub</a>
    </button>
  </div>
</header>