---
import { NAV_ITEMS } from "@/lib/constants";
import NavItem from "../ui/NavItem.astro";
import Button from "../ui/Button.astro";
import Menu from "../ui/Menu.astro";
---

<header
  class="fixed top-0 left-0 right-0 z-50 backdrop-blur-2xl bg-black-variant/20 py-4 border-b-1 border-white/10 h-20"
>
  <div
    class="flex items-center justify-between w-full max-w-11/12 xl:max-w-9/12 mx-auto"
  >
    <picture class="w-36 xl:w-42">
      <img src="/logo-visura.svg" alt="Logo de Visura UI" />
    </picture>
    <nav class="hidden md:flex items-center justify-center flex-grow basis-0">
      <ul class="flex items-center gap-12">
        {NAV_ITEMS.map((item) => <NavItem {...item} />)}
      </ul>
    </nav>
    <Button
      href="https://github.com/OrlandoDev17/visura-ui"
      label="GitHub"
      type="outlined"
      className="hidden md:block"
    />
    <Menu />
  </div>
</header>
