---
// Componentes
import { SideBar } from "@/components/ui/SideBar.tsx";
import Layout from "@/layouts/Layout.astro";
import DocHeader from "@/components/ui/DocHeader.astro";
import Tag from "@/components/ui/Tag.astro";
import WhyVisuraui from "@/components/sections/documentation/WhyVisuraUI.astro";
import Introduction from "@/components/sections/documentation/Introduction.astro";
import Instalation from "@/components/sections/documentation/Instalation.astro";
import Changelog from "@/components/sections/documentation/Changelog.astro";

//Iconos
import Zap from "@/icons/Zap.astro";
---

<Layout>
  <main class="flex flex-col gap-4 w-full mb-12">
    <div class="flex items-start">
      <SideBar client:load />
      <DocHeader />
    </div>
    <div
      class="flex flex-col justify-center items-center gap-24 ml-[448px] pl-8 pr-24 mt-8"
    >
      <header class="flex flex-col gap-8 items-center">
        <Tag
          icon={Zap}
          label="VisuraUI - Libreria de Componentes TailwindCSS"
          className="shadow-complete border-light-blue/40 bg-light-blue/10 w-fit"
        />
        <h1
          class="gradient-text text-2xl sm:text-4xl xl:text-5xl text-center font-bold"
        >
          Construye interfaces <br /> modernas con VisuraUI
        </h1>
        <p class="text-gray-400 text-center text-lg md:text-xl max-w-3xl">
          La biblioteca de componentes pensada para desarrolladores que no
          quieren comprometer entre <b class="text-light-blue font-semibold"
            >diseño, funcionalidad y escalabilidad</b
          >.
        </p>
      </header>
      <!-- Introducción -->
      <Introduction />
      <!-- Porque -->
      <WhyVisuraui />
      <!-- Instalaccion -->
      <Instalation />
      <!-- Changelog -->
      <Changelog />
    </div>
  </main></Layout
>
