---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Why from "@/components/sections/Why.astro";
import Components from "@/components/sections/Components.astro";
import Compatibility from "@/components/sections/Compatibility.astro";
import Header from "@/components/sections/Header.astro";
---

<Layout>
  <main class="flex flex-col sm:gap-8 xl:gap-16">
    <Header />
    <Hero />
    <Why />
    <Components />
    <Compatibility />
  </main>
</Layout>

<script>
  import { setupScrollReveal } from "@/utils/scrollReveal";

  setupScrollReveal();
</script>
